nav { 
  font-family: 'Candal', sans-serif;
  color: lavender ;
  height: 4em;
  width: 100%;
  background-color: rgb(119, 153, 204);
  position: fixed;
  top: 0%;
  padding: 20px;
  z-index: 10;
}

.nav {
  font-size: 2rem;
  position: fixed;
}

nav button {
  float: right;
  background-color: lavender;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  height: 2em;
  width: 6em;
  padding: 4px;
  border-radius: 15px;
  border-width: 0px;
}


@media only screen and (min-width: 768px) {

.nav {
  font-size: 2em;
  position: fixed;
}

nav button {
  font-size: 2rem;
  margin: 0.1em;
  padding: 10px;
  border-radius: 80px;
}
}

@media only screen and (min-width: 1024px) {}