nav { 
  font-family: 'Candal', sans-serif;
  color: lavender ;
  height: 11%;
  width: 100%;
  background-color: rgb(119, 153, 204);
  position: fixed;
  top: 0%;
  padding: 25px;
  z-index: 10;
}

.nav {
  font-size: 3em;
  position: fixed;
  margin: 0.3em;
}

nav button {
  float: right;
  font-size: 2em;
  height: 2em;
  margin: 0.5em;
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {}

@media only screen and (min-width: 1024px) {}