nav { 
  font-family: 'Candal', sans-serif;
  font-size: 2em;
  color: lavender ;
  height: 100px;
  background-color: rgb(65, 133, 189);
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 10;
}

.nav {
  position: fixed;
  top: 15px;
  left: 1em;

}

nav button {
  float: right;
  height: 60px;
  margin: 20px;
  font-size: 0.5em;
  border-radius: 10px;
}