.tweet-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  left: 5%;
  height: 2000px;
  top: 20px;
}

.tweet {
  width: 100%;
  margin: 1rem auto;
  border: 4px;
  border-style: dotted;
  border-radius: 20px;
}

.tweet header {
  flex-direction: row;
background-color: rgb(253, 253, 149);
top: 0px;
height: 120px;
padding: 10px 30px 5px;
}

.tweet img {
  justify-content: flex-start;
  float: left;
  height: 100px;
  width: 100px;
  margin-top: 5px;
  right: 10px;
  margin-right: 20px;
}

.display-name {
  float: right;
  margin-top: 5px;
}

.display-handle {
float: right;
margin: 0px;
font-weight: 300;
}

div.tweet-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 0px;
  background-color: white;
  padding: 10px;
}

.tweet-content p {
  overflow: auto;
  margin: 10px;
}

.tweet footer {
  position: relative;
  background-color: lavender;
  bottom: 0em;
  padding: 2px 10px 0px;
  height: 4rem;
}

.tweet footer i {
float: right;
font-size: 1em;
margin: 1rem 0.5rem;
}

.tweet footer p {
  float: left;
  width: auto;
  font-size: 1rem;
  margin: 1rem;
}

article {
}

.tweet:hover {
  box-shadow: 10px 10px;
}